{% load static i18n %}
<!-- footer start -->
<footer id="contact">
    <!-- footer top area start -->
    <div class="footer-top-area">
        <div class="container">
            <div class="footer-top-bar"></div>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 footer-area-right-border">
                    <div class="footer-top-name">
                        <h3>CONTACT</h3>

                        <div class="footer-content-a">
                            <div class="footer-image">
                                <img src="{% static 'assets/img/Location.svg' %}" alt="">
                            </div>
                            <div class="footer-content-location">
                                <p>B 6/10, Safdarjung Enclave,</p>
                                <p>New Delhi - 110029, INDIA</p>
                            </div>
                        </div>
                        <div class="footer-content-a">
                            <div class="footer-image">
                                <img src="{% static 'assets/img/Call.svg' %}" alt="">
                            </div>
                            <div class="footer-content-call ">
                                <p>+91 (124) 477 1368</p>
                            </div>
                        </div>
                    </div>
                    <div class="footer-top-bar1"></div>
                </div>
                <div class="footer-top-bar1-disa-diss"></div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                    <div class="footer-top-link">
                        <h3><a href="javascript:void(0);"><span>TERMS OF USE</span></a></h3>
                        <h3><a href="javascript:void(0);"><span>PRIVACY POLICY</span></a></h3>
                        <div class="footer-top-bar2"></div>

                    </div>
                </div>
                <div class="footer-top-bar1-disa-diss1"></div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                    <div class="footer-top-add">
                        <div class="image-footer-logo">
                            <img src="{% static 'assets/img/logo.png' %}" alt="">
                        </div>
                        <h3><span>© Browndome, 2020, All Rights Reserved.</span></h3>

                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>