{% load static i18n %}
<!doctype html>
<html class="no-js" lang="en">

    {% include "_head.html" %}

<body class="home1">


    <div class="home-1-wrapper">
        <!-- Header start -->
        {% include "_header.html" %}
        <!-- Header end -->
        <main>
            <div class="mine-content">
                <section class="about-section-1">

                    <div class="section-1-about">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                    <div class="section1-name spne">
                                        <h3>About </h3>
                                        <p>Browndome consulting is a leading financial advisory firm specialising in
                                            investment banking, start up advisory & fund raise, Mergers & acquisitions
                                            with a deep set of industry and capital markets relationships.</p>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                    <div class="section1-name">
                                        <h4><span>WHO WE ARE</span></h4>
                                        <p>We are India’s leading private investment banking firm specialising in the
                                            consumer, business services, technology and financial services
                                            industries. </p>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                    <div class="section1-name">
                                        <h4><span>WHAT WE DO</span></h4>
                                        <p>Start up advisory & fund raise support, Investing in startups, M&A advisory &
                                            deal support, Transaction tax, Pre-IPO restructuring, Family business
                                            succession planning, developing SaaS based legal tech products </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="section-2">
                    <div class="services-section1">
                        <div class="container">
                            <div class="services-sec-name">
                                <h3>Services </h3>
                                <p>Our team possesses diversified and significant track record of working with
                                    entrepreneurs/ companies offering wide array of services including:</p>
                            </div>
                        </div>
                        <div class="service-sec-slider">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 ">
                                        <div class="service-i bor-lift">
                                            <div class="service-i-carousel owl-carousel owl-theme ">
                                                <div class="service-i-item">
                                                    <div class="service-i-box">
                                                        <div class="service-i-carousel-img1"></div>
                                                        <div class="service-i-carousel-content">
                                                            <h5>Start up advisory & Fund raise</h5>
                                                            <p>Business optimisation support and fund raise support</p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="service-i-item">
                                                    <div class="service-i-box">
                                                        <div class="service-i-carousel-img2"></div>
                                                        <div class="service-i-carousel-content">
                                                            <h5>M&A Advisory</h5>
                                                            <p>Deal sourcing, Strategic deals: Buy side / Sell side,
                                                                Capital
                                                                structure</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="service-i-item">
                                                    <div class="service-i-box active">
                                                        <div class="service-i-carousel-img3"></div>
                                                        <div class="service-i-carousel-content">
                                                            <h5>Transaction Tax</h5>
                                                            <p>Transaction structuring including acquisition,
                                                                divestment,
                                                                merger/demerger, inbound & outbound transactions, cross
                                                                border transactions</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="service-i-item">
                                                    <div class="service-i-box">
                                                        <div class="service-i-carousel-img4"></div>
                                                        <div class="service-i-carousel-content">
                                                            <h5>Investing in Start-ups</h5>
                                                            <p>Dedicated focus to back the next wave of ambitious
                                                                founders
                                                                and startups at an early stage</p>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 ">
                                        <div class="service-right-content">
                                            <h4><span>KEY FEATURES</span></h4>
                                            <ul class="a">
                                                <li>Transaction structuring including acquisition, divestment, merger/
                                                    demerger, capital reduction, slump sale, asset sale, share-buyback,
                                                    or
                                                    any other form of internal group restructuring
                                                </li>
                                                <li> Inbound and outbound investment structuring and funding options
                                                </li>
                                                <li>Ideation of tax efficient strategies for repatriation of cash
                                                    surplus/
                                                    profits
                                                </li>
                                            </ul>
                                            
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="about-section-3"></section>
            </div>
        </main>


        <!-- footer start -->
        {% include "_footer.html" %}
        <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'assets/js/owl.js' %}"></script>
        <script src="{% static 'assets/js/jquery.scrollUp.min.js' %}"></script>

        <script src="{% static 'assets/js/jquery.mixitup.min.js' %}"></script>
        <script src="{% static 'assets/js/plugins.js' %}"></script>
        <script src="{% static 'assets/js/script.js' %}"></script>
</body>
<script type="text/javascript">


</script>

</html>