{% load static i18n %}
<!doctype html>
<html class="no-js" lang="en">

{% include "_head.html" %}

<body class="home1">


    <div class="home-1-wrapper">
        <!-- Header start -->
        {% include "_header.html" %}
        <!-- Header end -->
        <main>
            <div class="mine-content">
                <div class="product-file">
                    <section class="section-1">
                        <div class="text-section1">
                            <div class="container">
                                <div class="text-section1-content">
                                    <h5>Product </h5>
                                    <h1>Matter Management Software</h1>

                                </div>

                            </div>

                        </div>

                    </section>

                    <section class="section-product-2">
                        <div class="product-sec-1">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3">
                                        <div class="left-bar-content">
                                            <div class="left-tab">
                                                <nav id="sidebar">
                                                    <ul class="list-unstyled components mb-5">

                                                        <li class="product_name active"
                                                            onclick="openproduct(event, 'product_detail')">
                                                            PRODUCT DETAILS
                                                        </li>
                                                        <li class="product_name">
                                                            <a href="#homeSubmenu" data-toggle="collapse"
                                                                onclick="openproduct(event, 'key-name-1')"
                                                                aria-expanded="false"
                                                                class="dropdown-toggle collapsed ">KEY
                                                                PEOPLE</a>
                                                            <ul class="list-unstyled collapse" id="homeSubmenu">
                                                                <li class="product_name active"
                                                                    onclick="openproduct(event, 'key-name-1')">Ateev
                                                                    Chadda
                                                                </li>
                                                                <li class="product_name"
                                                                    onclick="openproduct(event, 'key-name-2')">Sarang
                                                                    Dublish
                                                                </li>
                                                                <li class="product_name"
                                                                    onclick="openproduct(event, 'key-name-3')">Sridhar
                                                                    Sundaram
                                                                </li>
                                                                <li class="product_name"
                                                                    onclick="openproduct(event, 'key-name-4')">Shubham
                                                                    Agrawal
                                                                </li>
                                                                <li class="product_name"
                                                                    onclick="openproduct(event, 'key-name-5')">Kallol
                                                                    Prtim
                                                                    Saikia
                                                                </li>
                                                                <li class="product_name"
                                                                    onclick="openproduct(event, 'key-name-6')">Soumitra
                                                                    Soni
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <!-- <li class="product_name"
                                                            onclick="openproduct(event, 'user-feedback')">USER FEEDBACK
                                                        </li>
                                                        <li class="product_name"
                                                            onclick="openproduct(event, 'watch-video')">WATCH VIDEO <i
                                                                class="fa fa-play-circle"></i></li> -->
                                                    </ul>

                                                </nav>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-sm-12 col-md-8 col-lg-9 col-xl-9">
                                        <div class="product-deteals-in-teb">
                                            <div id="product_detail" class="product_content product_detail"
                                                style="display: block">
                                                <h1>Details</h1>
                                                <h3>We develop customized legal case management software (LCMs), a legal
                                                    practice management software that helps law firms/ advocates to
                                                    digitize
                                                    their practice and assist them to perform legal research, manage
                                                    cases,
                                                    clients, schedule, generate invoices & track billings. LCMs is
                                                    customized as per the requirements of legal professionals and is
                                                    equipped with modern tools required in any law firm to efficiently
                                                    manage different practices.</h3>
                                                <h2>KEY FEATURES</h2>
                                                <p>LCMs has been made with the aim of giving best solution to
                                                    professionals
                                                    to efficiently manage their day to day activities.</p>
                                                <p> LCMs helps to do the following activities –</p>
                                                <ul>
                                                    <li>Email Management</li>
                                                    <li>Case Management</li>
                                                    <li>Litigation management</li>
                                                    <li>General Counsel (GC) interface</li>
                                                    <li>Task management</li>
                                                    <li>Document management</li>
                                                    <li>Calendar management</li>
                                                    <li>Timesheet</li>
                                                    <li>Billing and Invoicing</li>
                                                    <li>Management Reports</li>
                                                </ul>

                                                <p>LCMs has a unique role-based and easily customizable dashboard view
                                                    that
                                                    allows the users working under different roles to have a quick
                                                    overview
                                                    of
                                                    their open and closed matters as well as billed and non-billed
                                                    matters.
                                                    The
                                                    report module provides senior management with the statistics of
                                                    their
                                                    billable and non-billable activities as well. Professionals at
                                                    senior
                                                    management level will have different stats as their dashboard view
                                                    which
                                                    gives quick overview of the different practices in the firm along
                                                    with
                                                    detailed comparison with their past performances</p>

                                                <p>LCMs is developed using Python’s backend framework called Django
                                                    (version
                                                    >=2.11) and for the frontend React is used.</p>
                                                <div class="service-boder-bot-m"></div>
                                            </div>

                                            <div id="key-name-1" class="product_content">
                                                <div class="key-people-carousel-m">
                                                    <div class="image-people">
                                                        <img src="{% static 'assets/img/AteevProfileImage.png' %}"
                                                            alt="">
                                                    </div>
                                                    <div class="key-people-content-text">
                                                        <h2>Ateev Chadda</h2>
                                                        <h6>Chief Operating Officer – Investments &amp; Strategy</h6>
                                                        <div class="content">
                                                            <p>ateev.chadda@browndome.com</p>
                                                            <p>+91 98119 32076</p>
                                                        </div>
                                                        <div class="content-2">
                                                            <p>Ateev is an Investment banker having more than 18
                                                                years of work experience in various facets of M&amp;A,
                                                                strategy and business development. In his previous
                                                                role, Ateev was the head of Strategic Partnerships
                                                                business at Hindustan Times where he built the
                                                                equity and real estate investment business to a 500
                                                                cr size over the last 3 years. Ateev has worked with
                                                                Andersen, Macquarie and Bharti group in Business
                                                                development, Finance and Strategy roles throughout
                                                                his career. Currently, he is working along with
                                                                Lakshmikumaran &amp; Sridharan Attorneys to start a fund
                                                                to invest in start-ups and to advice start-ups in
                                                                various aspects of fundraising.</p>
                                                        </div>
                                                        <div class="content-3">
                                                            <div class="">
                                                                <h5>Education</h5>
                                                            </div>
                                                            <div class="conten-p">
                                                                <p>Delhi College of Engineering</p>
                                                                <p>MBA - IIM Bangalore</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div id="key-name-2" class="product_content">
                                                <div class="key-people-carousel-m">
                                                    <div class="image-people">
                                                        <img src="{% static 'assets/img/SarangProfileImage.png' %}"
                                                            alt="">
                                                    </div>
                                                    <div class="key-people-content-text">
                                                        <h2>Sarang Dublish</h2>
                                                        <h6>Associate Vice President – Investments &amp; Strategy</h6>
                                                        <div class="content">
                                                            <p>sarang.dublish@browndome.com</p>
                                                            <p>+91 9555-226788</p>
                                                        </div>
                                                        <div class="content-2">
                                                            <p>Sarang is an Investment Banker and has extensively
                                                                worked with large accounting firms in the M&amp;A
                                                                domain. His areas of expertise include Deal
                                                                structuring, M&amp;A transactions, Business &amp;
                                                                corporate
                                                                restructurings, Inbound &amp; outbound investments,
                                                                Private equity and Family offices.</p>
                                                            <p>Sarang has led and managed several transactions
                                                                across multiple sectors such as media, hospitality,
                                                                financial services, IT/ITES, FMCG,
                                                                telecommunications, manufacturing etc. He has also
                                                                structured and executed succession strategy for HNIs
                                                                and promoters of listed/ unlisted companies.</p>
                                                            <p>Currently, he is working along with Lakshmikumaran &amp;
                                                                Sridharan Attorneys to start a fund to invest in
                                                                start-ups and to advice start-ups in various aspects
                                                                of fundraising.</p>
                                                            <p>Sarang has also co-authored various articles on M&amp;A
                                                                related topics.</p>
                                                        </div>
                                                        <div class="content-3">
                                                            <div class="">
                                                                <h5>Education</h5>
                                                            </div>
                                                            <div class="conten-p">
                                                                <p>University of Delhi - B.Com (H)</p>
                                                                <p>The Institute of Chartered Accountants of India
                                                                    (ICAI) - Associate Member</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div id="key-name-3" class="product_content">
                                                <div class="key-people-carousel-m">
                                                    <div class="image-people">
                                                        <img src="{% static 'assets/img/SridharProfileImage.png' %}"
                                                            alt="">
                                                    </div>
                                                    <div class="key-people-content-text">
                                                        <h2>Sridhar Sundaram</h2>
                                                        <h6>M&amp;A and Startup Advisory</h6>
                                                        <div class="content">
                                                            <p>sridhar.s@browndome.com</p>
                                                            <p>+91 9667854699</p>
                                                        </div>
                                                        <div class="content-2">
                                                            <p>Sridhar is a marketing professional and has worked in
                                                                the Legal and Compliance sectors where he has
                                                                managed the business development initiatives.
                                                                Currently, he is working with Browndome Consulting
                                                                in its M&amp;A and Startup Advisory practice areas.
                                                                Sridhar holds a B.A.LL.B (Hons.) from India and a
                                                                Master of Business Administration from the United
                                                                States. His areas of work include business
                                                                expansion, market research, strategy, business
                                                                development and other growth initiatives Sridhar’s
                                                                past experiences involve working in various
                                                                jurisdictions such as the United States and China
                                                                across various facets of strategic business
                                                                development.</p>
                                                        </div>
                                                        <div class="content-3">
                                                            <div class="">
                                                                <h5>Education</h5>
                                                            </div>
                                                            <div class="conten-p">
                                                                <p>B.A , LL.B (Hons.)</p>
                                                                <p>MBA - USA</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div id="key-name-4" class="product_content">
                                                <div class="key-people-carousel-m">
                                                    <div class="image-people">
                                                        <img src="{% static 'assets/img/SubhamProfileImage.png' %}"
                                                            alt="">
                                                    </div>
                                                    <div class="key-people-content-text">
                                                        <h2>Shubham Agrawal</h2>
                                                        <h6>Principle Software Developer</h6>
                                                        <div class="content">
                                                            <p>shubham.agrawal@lakshmisri.com</p>
                                                            <p>+91 9686055678</p>
                                                        </div>
                                                        <div class="content-2">
                                                            <p>Shubham Agrawal, a computer science graduate, masters
                                                                from IIT Delhi, has more than 5 years of experience
                                                                of working in the software industry. He has worked
                                                                with multinational firms like Oracle, Intel, Mentor
                                                                Graphics(Siemens) where he has worked on different
                                                                technologies and built products from scratch. He is
                                                                currently working with Browndome as a principal
                                                                software engineer. He is leading the tech team at
                                                                Browndome to build products in legal tech space</p>
                                                        </div>
                                                        <div class="content-3">
                                                            <div class="">
                                                                <h5>Education</h5>
                                                            </div>
                                                            <div class="conten-p">
                                                                <p>Indian Institute of Technology (Delhi) -
                                                                    M.Tech</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div id="key-name-5" class="product_content">
                                                <div class="key-people-carousel-m">
                                                    <div class="image-people">
                                                        <img src="{% static 'assets/img/KallolProfileImage.png' %}"
                                                            alt="">
                                                    </div>
                                                    <div class="key-people-content-text">
                                                        <h2>Kallol P. Saikia</h2>
                                                        <h6>Senior Software Engineer</h6>
                                                        <div class="content">
                                                            <p>kallol@browndome.com</p>
                                                            <p>+91 1141299988</p>
                                                        </div>
                                                        <div class="content-2">
                                                            <P>Kallol has been developing and managing software projects
                                                                for a long time. He has been involved in various open
                                                                source projects for a long time and is known for working
                                                                in many reputed startups.
                                                                Learning new tech and solving problems are two things he
                                                                enjoys.
                                                                Currently he is working with Browndome as a Senior
                                                                Software Engineer , having responsibility of taking
                                                                care of
                                                                mobile and web part of their software products.</P>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                            <div id="key-name-6" class="product_content">
                                                <div class="key-people-carousel-m">
                                                    <div class="image-people">
                                                        <img src="{% static 'assets/img/soumitra_passport.png' %}"
                                                            alt="">
                                                    </div>
                                                    <div class="key-people-content-text">
                                                        <h2>Soumitra Soni</h2>
                                                        <h6>Software Developer</h6>
                                                        <div class="content">
                                                            <p>soumitra.soni@browndome.com</p>
                                                            <p>+91 1141299988</p>
                                                        </div>
                                                        <div class="content-2">
                                                            <P>Soumitra Soni is working as a Software Development
                                                                Engineer at Lakshmikumaran and Sridharan Attorney’s.
                                                                He has graduated from SRM University, Chennai and
                                                                has more than 3 years of experience in development
                                                                and Web Technologies. He is the core member of tech
                                                                team at Browndome to build products in legal tech
                                                                space</P>
                                                        </div>
                                                        <div class="content-3">
                                                            <div class="">
                                                                <h5>Education</h5>
                                                            </div>
                                                            <div class="conten-p">

                                                                <p>S.R.M. University B.Tech</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <!-- <div id="user-feedback" class="product_content">
                                                <h3>No Data Found</h3>
                                            </div>

                                            <div id="watch-video" class="product_content">
                                                <h3>No Data Found</h3>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </main>


        <!-- footer start -->
        {% include "_footer.html" %}
        <!-- footer end -->
    </div>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/owl.js' %}"></script>
    <script src="{% static 'assets/js/jquery.scrollUp.min.js' %}"></script>

    <script src="{% static 'assets/js/jquery.mixitup.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins.js' %}"></script>
    <script src="{% static 'assets/js/script.js' %}"></script>
</body>
<script>
    function openproduct(evt, productName) {
        var i, product_content, product_name;
        product_content = document.getElementsByClassName("product_content");
        for (i = 0; i < product_content.length; i++) {
            product_content[i].style.display = "none";
        }
        product_name = document.getElementsByClassName("product_name");
        for (i = 0; i < product_name.length; i++) {
            product_name[i].className = product_name[i].className.replace(" active", "");
        }
        document.getElementById(productName).style.display = "block";
        evt.currentTarget.className += " active";
    }
    window.onload = function () {
        var y = window.matchMedia("(max-width: 768px)")
        if (y.matches) { // If media query matches
            $("#new-class-add").addClass("key-people-carousel owl-carousel owl-theme");
        } else {
            $("#new-class-add").removeClass("key-people-carousel owl-carousel owl-theme");
        }
    }
</script>