{% load static i18n %}
<!doctype html>
<html class="no-js" lang="en">

{% include "_head.html" %}

<body class="home1">


    <div class="home-1-wrapper">
        <!-- Header start -->
        {% include "_header.html" %}
        <!-- Header end -->
        <main>
            <div class="mine-content">
                <section class="service-sec-1">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                                <div class="service-name">
                                    <h3>SERVICES </h3>
                                    <p>Our team has the right functional and industry experience which enables us to
                                        understand your business, strategic objectives and provide tailor-made solutions
                                        that helps to achieve your
                                        business objectives.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="service-sec-2">
                    <div class="service-boder-bot">
                        <div class="container">
                            <div class="row ">
                                <div class="col-12 col-sm-12 col-md-2 col-lg-1 col-xl-1">
                                    <div class="service-image-1">
                                        <img src="{% static 'assets/img/startup_advisory.svg' %}" alt="">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                                    <div class="service-name-1">
                                        <h3>Start-up advisory & fund raise</h3>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-7 col-lg-8 col-xl-8">
                                    <div class="service-content-1">
                                        <h3>We assist startups in getting ready for a fund raise and thereafter work as
                                            bankers for the entire fund raise cycle
                                        </h3>
                                        <h5>KEY FEATURES</h5>
                                        <ul>
                                            <li>Review of the capital structure</li>
                                            <li>Review of capex plans and operation strategy</li>
                                            <li>Business optimization support - Developing a formal business plan &
                                                branding
                                                strategy
                                            </li>
                                            <li>Documentation and closure of fund raise – Investor meetings, terms sheet
                                                &
                                                SHA negotiations, etc.
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="service-boder-bot">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-2 col-lg-1 col-xl-1">
                                    <div class="service-image-1">
                                        <img src="{% static 'assets/img/m_a_default.svg' %}" alt="">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                                    <div class="service-name-1">
                                        <h3>M&A Advisory</h3>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-7 col-lg-8 col-xl-8">
                                    <div class="service-content-1">
                                        <h3>Buy & Sell Side - Deal Advisory for acquisition/ divestments of businesses
                                            and
                                            strategic assets; M&A buy outs </h3>
                                        <h5>KEY FEATURES</h5>
                                        <ul>
                                            <li>Deal sourcing - Source and evaluate strategic fitment of an acquisition
                                                target or joint venture
                                            </li>

                                            <li>Buy & Sell side - Advisory on strategic deals</li>

                                            <li>Advisory on capital structure</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="service-boder-bot">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-2 col-lg-1 col-xl-1">
                                    <div class="service-image-1">
                                        <img src="{% static 'assets/img/tran_tax.svg' %}" alt="">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                                    <div class="service-name-1">
                                        <h3>Transaction Tax</h3>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-7 col-lg-8 col-xl-8">
                                    <div class="service-content-1">
                                        <h3>Ideation of tax efficient & regulatory compliant strategies that help
                                            enterprises in managing their business operations and strategic
                                            transactions. </h3>
                                        <h5>KEY FEATURES</h5>
                                        <ul>
                                            <li>Transaction structuring including acquisition, divestment, merger/
                                                demerger,
                                                capital reduction, slump sale, asset sale, share-buyback, or any other
                                                form
                                                of internal group restructuring
                                            </li>

                                            <li>Inbound and outbound investment structuring and funding options</li>

                                            <li>Ideation of tax efficient strategies for repatriation of cash surplus/
                                                profits s
                                            </li>

                                            <li>Restructuring to raise funds</li>

                                            <li>Promoter shareholding rationalization/ restructuring</li>

                                            <li>Pre-IPO restructuring - Segregation of non-core businesses/ assets</li>

                                            <li>Family business succession planning</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="service-boder-bot">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-2 col-lg-1 col-xl-1">
                                    <div class="service-image-1">
                                        <img src="{% static 'assets/img/invest_startup.svg' %}" alt="">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                                    <div class="service-name-1">
                                        <h3>Investing in start-ups</h3>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-7 col-lg-8 col-xl-8">
                                    <div class="service-content-1">
                                        <h3>We have a dedicated focus to back the next wave of ambitious founders and
                                            startups at an early stage. </h3>
                                        <h5>KEY FEATURES</h5>
                                        <ul>
                                            <li>Industry sectors - Software/ SAAS, Edtech, fintech, gaming, healthcare,
                                                moblility, B2B services, deep tech, consumer, etc.
                                            </li>
                                            <li>Ticket size - INR 2.5 Mn to 10 Mn per startup</li>
                                            <li>Stage of the startup – Early stage till Series A</li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="service-boder-bot new-bott-none">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                    <div class="service-name-1">
                                        <h3>Are you looking to scale your business to the next level, and therefore
                                            intend
                                            to raise funds?</h3>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                                    <div class="service-content-1">
                                        <h3>We invest in startups across industries such as Software/ SAAS, Edtech,
                                            fintech,
                                            gaming, healthcare, moblility, B2B services, deeptech, consumer, etc.</h3>
                                        <h3>Write to us at admin@browndome.com for initiating a fund raise discussion.
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            </section>
    </div>
    </main>


    <!-- footer start -->
    {% include "_footer.html" %}
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/owl.js' %}"></script>
    <script src="{% static 'assets/js/jquery.scrollUp.min.js' %}"></script>

    <script src="{% static 'assets/js/jquery.mixitup.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins.js' %}"></script>
    <script src="{% static 'assets/js/script.js' %}"></script>
</body>


</html>